@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

.header {
    width: 100%;
    height: 60px;
    .inner {
        max-width: 960px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 0px 70px;  
        .header__title {
            .header__logo--link {
                .header__logo {
                    width: 120px;
                    height: 40px;        
                }
            }
        }
        .header__nuvi {
            .header__nuvi__list {
                display: flex;
                align-items: center;    
                gap: 30px;    
                .header__nuvi__item {
                    .nuvi__item--link {
                        font-size: 14.4px;
                        font-weight: normal;
                        text-align: center;
                        color: #383E45;
                        line-height: 21px;
                        letter-spacing: 0px;
                    }
                }
            }
        }    
    }
}
@media screen and (max-width: 600px) {
    .header {
        width: 100%;
        height: 60px;
        .inner {
            padding: 0px 15px;  
            .header__nuvi {
                .header__nuvi__list {
                    display: flex;
                    gap: 33px;    
                    .header__nuvi__item {
                        .nuvi__item--link {
                            font-size: 14.4px;
                            font-weight: normal;
                            text-align: center;
                            color: #383E45;
                            line-height: 21px;
                            letter-spacing: 0px;
                        }
                    }
                }
            }    
        }
    }    
}