@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");
/* ==================== 色一覧 ==================== */
/* ==================== 側設定 ==================== */
html {
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
}

.inner {
  margin-right: auto;
  margin-left: auto;
  padding: 0px 70px;
}

@media screen and (max-width: 600px) {
  .inner {
    margin-right: auto;
    margin-left: auto;
    padding: 0px 15px;
  }
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #24292E;
}

.section__title {
  width: 105px;
  font-size: 32px;
  font-weight: bold;
  color: #24292E;
  line-height: 48px;
  letter-spacing: 0.05em;
  border-bottom: solid 1px #24292E;
  margin: 0px auto 70px auto;
}

@media screen and (max-width: 600px) {
  .section__title {
    margin: 0px auto 60px auto;
  }
}
.main__visual {
  width: 100%;
  height: 600px;
  display: block;
  background-image: url(img/mainvisual.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

#section__about {
  width: 100%;
  margin-bottom: 100px;
}
#section__about .inner {
  max-width: 600px;
}
#section__about .inner .about__content {
  display: flex;
  gap: 30px;
}
#section__about .inner .about__content .about__img--box {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
#section__about .inner .about__content .about__img--box .about--img {
  width: 100%;
  border-radius: 50%;
}
#section__about .inner .about__content .profile--box .profile__name {
  font-size: 16px;
  font-weight: bold;
  color: #383E45;
  text-align: left;
  display: block;
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: 10px;
}
#section__about .inner .about__content .profile--box .about__text {
  font-size: 14.4px;
  font-weight: normal;
  color: #383E45;
  display: block;
  text-align: left;
  letter-spacing: 0px;
  line-height: 21px;
}

@media screen and (max-width: 600px) {
  #section__about .about__content {
    flex-direction: column;
    align-items: center;
  }
}
#section__bicycle {
  width: 100%;
}
#section__bicycle .inner {
  width: 100%;
  max-width: 960px;
}
#section__bicycle .inner .section__title {
  width: 125px;
}
#section__bicycle .inner .bicycle__list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 117px;
}
#section__bicycle .inner .bicycle__list .bicycle__item {
  width: calc((100% - 32px) / 3);
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}
#section__bicycle .inner .bicycle__list .bicycle__item .bicycle__img {
  width: 100%;
}
#section__bicycle .inner .bicycle__list .bicycle__title {
  font-size: 16px;
  font-weight: bold;
  color: #383E45;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#section__bicycle .inner .bicycle__list .bicycle__text {
  font-size: 14.4px;
  font-weight: normal;
  color: #383E45;
  text-align: center;
  line-height: 21px;
  letter-spacing: 0px;
}

@media screen and (max-width: 600px) {
  #section__bicycle .inner .bicycle__list {
    flex-direction: column;
    align-items: center;
  }
  #section__bicycle .inner .bicycle__list .bicycle__item {
    width: 100%;
  }
}
.bicycle__under {
  width: 100%;
}
.bicycle__under .inner {
  max-width: 960px;
  padding: 0px 70px;
  margin-bottom: 174px;
}
.bicycle__under .inner .bicycle__under--img {
  width: 100%;
  height: 480px;
  margin-bottom: 34px;
}
.bicycle__under .inner .bicycle__under__title {
  font-size: 21.6px;
  font-weight: bold;
  color: #383E45;
  text-align: left;
  line-height: 21.6px;
  letter-spacing: 0px;
  margin-bottom: 39px;
}
.bicycle__under .inner .bicycle__under__text01 {
  font-size: 14.4px;
  font-weight: normal;
  color: #383E45;
  text-align: left;
  line-height: 24.4px;
  letter-spacing: 0px;
  margin-bottom: 26px;
}
.bicycle__under .inner .bicycle__under__text02 {
  font-size: 14.4px;
  font-weight: normal;
  color: #383E45;
  text-align: left;
  line-height: 24.4px;
  letter-spacing: 0px;
  margin-bottom: 26px;
}
.bicycle__under .inner .bicycle__under__text03 {
  font-size: 14.4px;
  font-weight: normal;
  color: #383E45;
  text-align: left;
  line-height: 24.4px;
  letter-spacing: 0px;
}

@media screen and (max-width: 600px) {
  .bicycle__under {
    width: 100%;
  }
  .bicycle__under .inner {
    padding: 0px 15px;
    margin-bottom: 310px;
  }
  .bicycle__under .inner .bicycle__under--img {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */